<mat-card class="mt-2 p-5 col-md-4 mx-auto">
  <mat-card-header>
    <mat-card-title>Register</mat-card-title>
    <mat-card-subtitle>Welcome new user!</mat-card-subtitle>
  </mat-card-header>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <mat-form-field class="col-md-12">
        <input matInput type="text" formControlName="name" placeholder="Name">
        <mat-error *ngIf="registerForm.controls.name.errors">{{getErrorMessage(registerForm.controls.name)}}</mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-12">
        <input matInput type="text" formControlName="email" placeholder="Email">
        <mat-error *ngIf="registerForm.controls.email.errors">{{getErrorMessage(registerForm.controls.email)}}</mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-12">
        <input matInput type="text" formControlName="cpf" placeholder="CPF">
        <mat-error *ngIf="registerForm.controls.cpf.errors">{{getErrorMessage(registerForm.controls.cpf)}}</mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-12">
        <mat-select formControlName="profile" placeholder="Profile">
          <mat-option *ngFor="let profile of profiles" value="{{profile.name}}">
            {{ profile.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="registerForm.controls.profile.errors">{{getErrorMessage(registerForm.controls.profile)}}</mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-12">
        <input matInput type="password" formControlName="password" placeholder="Password">
        <mat-error *ngIf="registerForm.controls.password.errors">{{getErrorMessage(registerForm.controls.password)}}</mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-12">
        <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm Password">
        <mat-error *ngIf="registerForm.controls.confirmPassword.errors">{{getErrorMessage(registerForm.controls.confirmPassword)}}</mat-error>
      </mat-form-field>

      <mat-card-actions>
        <button mat-button type="submit" [disabled]="registerForm.invalid && formIsInvalid()">Register</button>
      </mat-card-actions>
    </mat-card-content>
  </form>
</mat-card>
